.wpcf7-form {
  input[type="text"], input[type="password"], input[type="url"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    min-height: 40px;
    padding-left: 20px;
    font-size: 13px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input[type="submit"] {
    border: 1px solid #e96b56;
    background: #e96b56;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

  input[type="submit"]:hover {
    background: #4b5056;
    color: #fff;
    border: 1px solid #4b5056;
  }
}