@import "./recent-posts-plugin";
@import "./contact-form-7";

.featured-image img {
  width: 100%;
}

.media-content a.comment-reply-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

.form-submit input.submit {
  color: #fff;
  border: 1px solid #e96b56;
  background: #e96b56;
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
}

form#commentform input[type="email"], form#commentform input[type="url"] {
  width: 100%;
  min-height: 40px;
  padding-left: 20px;
  font-size: 13px;
  padding-right: 20px;
  box-sizing: border-box;
  border-radius: 2px 2px 2px 2px;
}

.comment-form-cookies-consent #wp-comment-cookies-consent {
  float: left;
  margin-right: 10px;
}

aside .textwidget {
  margin-bottom: 40px;
}
