/*
Customize Recent Post with thumbnails plugin
*/
.recent-posts-widget-with-thumbnails {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 30px;
}

.recent-posts-widget-with-thumbnails ul li img {
  background: #fbfbfb;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 4px;
  line-height: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.recent-posts-widget-with-thumbnails ul li {
  line-height: 1.6em;
  float: left;
  clear: left;
  border-bottom: 1px dotted #e9e9e9;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

.recent-posts-widget-with-thumbnails ul li a {
  color: #e96b56;
  font-weight: 600;
}

.recent-posts-widget-with-thumbnails ul li a:hover {
  text-decoration: none;
}

.rpwwt-post-title {
}

.rpwwt-post-date {
  font-size: 12px;
  margin-top: 20px;
}